<div class="app-bg-orbs" aria-hidden="true"></div>
<%- include('sidebar') %>
<div class="app-shell relative flex min-h-screen flex-col lg:pl-[260px]">
  <%- include('topbar') %>
  <div class="flex flex-1 flex-col">
